APP_NAME="Vimiss Study Abroad"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=sqlite
# DB_DATABASE=/absolute/path/to/database.sqlite

SESSION_DRIVER=file
SESSION_LIFETIME=120

SANCTUM_STATEFUL_DOMAINS=localhost:8000,localhost:5173,127.0.0.1:8000

MAIL_MAILER=log
MAIL_FROM_ADDRESS="noreply@vimiss.vn"
MAIL_FROM_NAME="${APP_NAME}"

VITE_APP_NAME="${APP_NAME}"
