/* Style ( default color ) #5200FF #3CFFD0 ------------------------------------
-----------------------------------------------------------------------------*/

h1,
h2,
h3,
h4,
h5,
h6 {
	color: #222;
}

pre {
	border: 1px solid #eae9e9;
	background-color: #FFF;
}

input[type="email"],
input[type="number"],
input[type="search"],
textarea,
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"] {
	border: 2px solid #d5d6d8;
	color: #333;
}


/*-----------------------------------------------------------------------------
----------------------------- 1 - Layout --------------------------------------
-----------------------------------------------------------------------------*/
a:link,
a:visited {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #444;
}

::-moz-selection {
	background: #000;
	color: #fff;
	text-shadow: none;
}

::selection {
	background: #000;
	color: #fff;
	text-shadow: none;
}


/* -- Header -- */
html body {
	color: #080e14;
	background-color: #131313;
}

header { 
	background-color: #111111;
}

.menu-bottom {
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
} 


/* .page-content */
.single-content {
	background-color: #FFF; 
}

body.single {
	background-color: #FFF; 
}

body.page-template-template-full-width {
	background-color: #FFF; 
}

body.page-template-default {
	background-color: #FFF; 
}

body.page-template-page-php {
	background-color: #FFF; 
}


/*-----------------------------------------------------------------------------
----------------------------- 2 - Header --------------------------------------
-----------------------------------------------------------------------------*/

/* -- Search Header (menu) -- */
#searchform input {
	color: #DDD !important;
	background-color: #FFF !important;
}

#searchform ::-webkit-input-placeholder {
	color: #DDD !important;
}

#searchform :-moz-placeholder {
	/* Firefox 18- */
	color: #DDD !important;
}

#searchform ::-moz-placeholder {
	/* Firefox 19+ */
	color: #DDD !important;
}

#searchform :-ms-input-placeholder {
	color: #DDD !important;
}

/* The Modal (for search) */
.modal-content {
	background-color: #FFF;
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

/* The Close Button */
div.modal-content .close {
	background-color: #111111;
	color: #3CFFD0;
}

div.modal-content .close:hover,
div.modal-content .close:focus {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}

.modal-header {
	color: white;
}


/* -- Top Header Menu -- */
ul.ant-responsive-menu li.current_page_item>a,
ul.ant-responsive-menu li.current-menu-ancestor>a,
ul.ant-responsive-menu li.current-menu-item>a,
ul.ant-responsive-menu li.current-menu-parent>a {
	color: #000;
	background: #3CFFD0;
}

ul.ant-responsive-menu li.current-menu-parent>a>.arrow:before,
ul.ant-responsive-menu li.current-menu-parent>a>.arrow,
ul.ant-responsive-menu li.current_page_item>a>.arrow:before,
ul.ant-responsive-menu li.current_page_item>a>.arrow {
	display: none;
}

ul.ant-responsive-menu li ul li.current_page_item>a,
ul.ant-responsive-menu li ul li.current-menu-ancestor>a,
ul.ant-responsive-menu li ul li.current-menu-item>a,
ul.ant-responsive-menu li ul li.current-menu-parent>a {
	color: #000;
	background: #FFF;
	-moz-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2) !important;
	-webkit-box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2) !important;
	box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2) !important;
}

/*Top level menu link items style*/
.ant-responsive-menu>li>a>.arrow:before {
	color: #FFF !important;
}

.ant-responsive-menu li i {
	color: #f15085;
}

.ant-responsive-menu li a {
	color: #FFF;
}

.ant-responsive-menu li a:hover {
	color: #000 !important;
	background: #FFF;
	text-decoration: none !important;
}

.ant-responsive-menu li:hover a {
	color: #000 !important;
	background-color: #FFF;
	text-decoration: none !important;
	border-radius: 3px;
}

.ant-responsive-menu li ul li a {
	color: #000;
}

.ant-responsive-menu li ul li ul li a {
	color: #000;
}

/*1st sub level menu*/
.ant-responsive-menu li ul {
	background-color: #FFF;
}

.ant-responsive-menu li ul li ul {
	background-color: #FFF;
}

.ant-responsive-menu li ul li {
	background-color: #FFF;
}

/* Sub level menu links style */
.ant-responsive-menu li ul li:hover {
	color: #000 !important;
}

.ant-responsive-menu li ul li a:hover {
	color: #000 !important;
	background-color: #f5f5f5;
}


/* -- Responsive Menu Styles -- */
@media screen and (max-width: 1232px) {
	ul.ant-responsive-menu li.current_page_item>a,
	ul.ant-responsive-menu li.current-menu-ancestor>a,
	ul.ant-responsive-menu li.current-menu-item>a,
	ul.ant-responsive-menu li.current-menu-parent>a,
	ul.ant-responsive-menu li ul li.current_page_item>a,
	ul.ant-responsive-menu li ul li.current-menu-ancestor>a,
	ul.ant-responsive-menu li ul li.current-menu-item>a,
	ul.ant-responsive-menu li ul li.current-menu-parent>a,
	.ant-responsive-menu li a:hover,
	.ant-responsive-menu li:hover a {
		background: transparent;
		color: #FFF !important;
		border-bottom: none !important;
	}
	.ant-responsive-menu {
		background: #000;
		-moz-box-shadow: 0 0 0 #999 !important;
	}
	.ant-responsive-menu li ul li ul {
		background-color: #000;
	}
	.ant-responsive-menu li ul li {
		background: #000;
	}
	.ant-responsive-menu li ul li ul li ul {
		background: #000;
	}
	.ant-responsive-menu li ul li ul li {
		background: #000;
	}
	.ant-responsive-menu li ul.sub-menu li a { 
		color: #FFF !important;
	}
	.ant-responsive-menu li ul li:hover {
		color: #FFF !important;
	}
	.ant-responsive-menu li ul li:hover a {
		background-color: #000 !important;
		color: #FFF !important;
	}
	.ant-responsive-menu li ul {
		border: 1px solid #000;
		background-color: #000 !important;
		-moz-box-shadow: 0 5px 3px rgba(0, 0, 0, 0);
		-webkit-box-shadow: 0 5px 3px rgba(0, 0, 0, 0);
		box-shadow: 0 5px 3px rgba(0, 0, 0, 0);
	} 
	.ant-responsive-menu li ul li a:hover {
		background-color: #000 !important;
		color: #FFF !important;
	}
	.ant-responsive-menu>li>a>.arrow:before {
		color: #FFF !important;
	}
	.ant-responsive-menu li a {
		color: #FFF !important;
		border-bottom: none !important;
	}
	.ant-responsive-menu li a:hover span {
		border-bottom: none !important;
	}
	#respMenu li ul.sub-menu li.current_page_item a,
	#respMenu li ul.sub-menu li.current-menu-ancestor a,
	#respMenu li ul.sub-menu li.current-menu-item a,
	#respMenu li ul.sub-menu li.current-menu-parent a,
	#respMenu li ul.sub-menu,
	#respMenu li ul.sub-menu a,
	#respMenu li ul.sub-menu li {
		background-color: #000 !important;
	}
} 


/* -- Top social icons -- */
.top-social li a {
	color: #FFF;
}

.top-social li a:hover {
	color: #3CFFD0;
}

ul.top-social li.search i.fas {
	color: #3CFFD0 !important;
}

.top-social li:hover,
.top-social li:focus {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
}


/* -- Menu home-links (home) -- */
ul.menu-home-links li a:hover {
    background-color: #3CFFD0;
} 


/*-----------------------------------------------------------------------------
----------------------------- 3 - Home Content --------------------------------
-----------------------------------------------------------------------------*/

/* -- Featured Container -- */
.header-boxleft-detail p a {
	text-decoration-color: #5200FF;
}

a.anbtn-black i {
    color: #5200FF;
}


/* -- Home Featured Posts -- */
.featured-box-right h4 {
    color: #3CFFD0; 
    border-color: #3CFFD0; 
}

ul.featured-posts li div.itaka-date i {
	color: #5200FF;
}

ul.featured-posts-small .an-widget-title h3 a {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3CFFD0),to(#3CFFD0));
    background-image: -o-linear-gradient(#3CFFD0,#3CFFD0);
    background-image: linear-gradient(#3CFFD0,#3CFFD0);
}

div.featured-posts-big-content h2 a {
 	background-image:-webkit-gradient(linear,left top,left bottom,from(#3CFFD0),to(#3CFFD0));
 	background-image:-o-linear-gradient(#3CFFD0,#3CFFD0);
 	background-image:linear-gradient(#3CFFD0,#3CFFD0);
}

ul.featured-posts li h2 a {
 	background-image:-webkit-gradient(linear,left top,left bottom,from(#3CFFD0),to(#3CFFD0));
 	background-image:-o-linear-gradient(#3CFFD0,#3CFFD0);
 	background-image:linear-gradient(#3CFFD0,#3CFFD0);
}

.featured-posts-small-boxnumber {
    background-color: #2E2E2E;
    color: #3CFFD0; 
}

.big-boxnumber {
    background-color: #2E2E2E;
    color: #3CFFD0;
}

div.featured-posts-big-content h2 a:hover { 
 	color: #3CFFD0;
}


/* -- Slider Nav -- */
.owl-prev,
.owl-next {
	background-color: #FFF;
}

.owl-prev i,
.owl-next i {
	color: #000;
}


/* - Categories ribbon - */
.article-category a {
	color: #000 !important;
	background-color: #5200FF;
}


/* -- Home content -- */
.home-widget-color1 {
	background-color: #111111;
}

.home-widget-color2 { 
    background-color: #111111;
}


/* -- Blog Style -- */
.home-meta i 			   { background-color: #5200FF; }

ul.modern-grid li div.time-ago i {
  color: #5200FF;
} 
 

 /* -- Sticky Post -- */ 
ul.masonry3cols li.sticky { 
	background-color: #111; 
	border-bottom: 10px solid #3CFFD0; 
} 

 /* -- Sticky Post -- */ 
ul.masonry4cols li.sticky { 
	background-color: #111; 
	border-bottom: 10px solid #3CFFD0; 
}


/* -- infinite scroll -- */
a.view-more-button {
    background-color: #5200FF !important; 
}

a.view-more-button:hover {
    opacity: 0.8; 
}

.loader-ellips__dot { 
	background: #5200FF; 
}


/* -- Default pagination -- */
.defaultpag a {
	background-color: #5200FF; 
}

.defaultpag a:hover {
	opacity: 0.8;
}


/* -- Home Title Animation -- */
div.middle-home-title p a {
	text-decoration-color: #5200FF;
}

div.middle-home-title p a:hover {
    text-decoration-color: #222;
}  


/* -- Widget article List (home) -- */
div.home-widget-color1 h4.top-widget-title,
div.home-widget-color2 h4.top-widget-title,
div.home-widget-color3 h4.top-widget-title {
    color: #3CFFD0;
    border-color: #3CFFD0; 
}

div.home-widget-color2 h4.top-widget-title {
	color: #3CFFD0;
	border-color: #3CFFD0;
}

div.home-widget-color1 div.an-widget-title .home-post-date  {
    color: #FFF !important;
}

div.home-widget-color2 div.an-widget-title .home-post-date  {
    color: #fff !important;
}

div.home-widget-color2 div.an-widget-title .home-author-text a {
    color: #3CFFD0 !important;
}

div.home-module-2cols-widget h4.top-widget-title {
    color: #3CFFD0;
}

div.home-module-2cols-widget h4.top-widget-title {
    color: #3CFFD0;
    border-color: #3CFFD0;
}

div.home-module-2cols-widget h4.title-widget-vertical {
    color: #3CFFD0; 
}


/* -- Home ribbon category -- */
.home-ribbon-category {
	background-color: #3CFFD0;
}

.home-author-text a {
    color: #3CFFD0 !important;
}


/* -- home-module-2cols-widget Widget (Module) -- */
ul.home-module-2cols-widget-list .an-widget-title h3 a {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3CFFD0),to(#3CFFD0));
    background-image: -o-linear-gradient(#3CFFD0,#3CFFD0);
    background-image: linear-gradient(#3CFFD0,#3CFFD0);
}

.home-module-boxnumber {
    background-color: #2E2E2E;
    color: #3CFFD0;
}

ul.home-widget-article-list .an-widget-title h3 a {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3CFFD0),to(#3CFFD0));
    background-image: -o-linear-gradient(#3CFFD0,#3CFFD0);
    background-image: linear-gradient(#3CFFD0,#3CFFD0);
}

div.home-widget-color2 ul.home-widget-article-list .an-widget-title h3 a {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3CFFD0),to(#3CFFD0));
    background-image: -o-linear-gradient(#3CFFD0,#3CFFD0);
    background-image: linear-gradient(#3CFFD0,#3CFFD0);
}

ul.modern-home-list-posts .an-widget-title h2 a {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3CFFD0),to(#3CFFD0));
    background-image: -o-linear-gradient(#3CFFD0,#3CFFD0);
    background-image: linear-gradient(#3CFFD0,#3CFFD0);
}

.home-module-2cols-widget-list-boxnumber {
    background-color: #2E2E2E;
    color: #3CFFD0;
}


/* -- Full responsive Ad -- */
.responsive-area {
    color: #3CFFD0;
    background-color: #2E2E2E;
}


/* -- Widget Ad (reclama) size (home) -- */
div.home-widget-re-size {
    background-color: #2E2E2E; 
    color: #3CFFD0;   
}


/* -- Home Categories List (Module) -- */
div.home-module-categories-list ul li a {
    color: #3CFFD0;
    border-bottom: 2px solid #3CFFD0;
}


/* -- Home Module Backgrund box (green) -- */
.home-module-background-box1 {
	background-color: #3CFFD0;
}


/* -- Home 3 Cols Grid (Home Template) -- */
div.masonry3cols-content h2 a {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3CFFD0),to(#3CFFD0));
    background-image: -o-linear-gradient(#3CFFD0,#3CFFD0);
    background-image: linear-gradient(#3CFFD0,#3CFFD0);	
}

/* -- Home 4 Cols Grid (Home Template) -- */
div.masonry4cols-content h2 a {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3CFFD0),to(#3CFFD0));
    background-image: -o-linear-gradient(#3CFFD0,#3CFFD0);
    background-image: linear-gradient(#3CFFD0,#3CFFD0);	
}


/* -- Home 2 Cols Grid + Widget (Module) -- */
div.masonry2cols-content h2 a {
    background-image: -webkit-gradient(linear,left top,left bottom,from(#3CFFD0),to(#3CFFD0));
    background-image: -o-linear-gradient(#3CFFD0,#3CFFD0);
    background-image: linear-gradient(#3CFFD0,#3CFFD0);
}


/*-----------------------------------------------------------------------------
----------------------------- 4 - Entry Content -------------------------------
-----------------------------------------------------------------------------*/

/* -- not-found -- */
.not-found #searchform2 {
	background-color: #f5f5f5 !important;
	border: 5px solid #f5f5f5;
	border-radius: 5px;
}

.not-found #searchform2 .buttonicon {
	background-color: #f5f5f5 !important;
	color: #444 !important;
	border-radius: 0px;
}

.not-found #searchform2 #s {
	background-color: #f5f5f5 !important;
	border: 1px solid #f5f5f5 !important;
}

.not-found #searchform2 ::placeholder {
	color: #999 !important;
	opacity: 1;
}

.not-found #searchform2 :-ms-input-placeholder {
	color: #999 !important;
}

.not-found #searchform2 ::-ms-input-placeholder {
	color: #999 !important;
}


/* -- ribbons middle categories - */
.single-category a {
	background-color: #5200FF;
}

.entry-top .single-category a {
	color: #fff !important;
}


/* -- Entry Top / Featured Image */
.entry-top .post-data div.time-article i { color: #5200FF; }


/* -- Single Share -- */
#single-share a.commbutton  { background-color: #5200FF; }


/* -- Typography First Content Letter -- */
div.p-first-letter > p:first-child:first-letter {
	color: #fff;
	background-color: #5200FF;
}


/* -- Page / Article Title -- */
h1.article-title {
	color: #FFF;
}

h1.page-title {
	color: #000;
}

div.article-meta-data h1 a {
 	background-image:-webkit-gradient(linear,left top,left bottom,from(#3CFFD0),to(#3CFFD0));
 	background-image:-o-linear-gradient(#3CFFD0,#3CFFD0);
 	background-image:linear-gradient(#3CFFD0,#3CFFD0);
}


/* -- Tags Articles -- */
.entry-btn                 { background-color: #5200FF; color: #fff;}
.ct-size a                 { background: #F4F4F4 !important; color: #999 !important; }

.ct-size a:hover {
    background-color: #000 !important;
    color: #fff !important;
}


/* -- blockquote -- */
blockquote {
	background: #FAFAFA;
	border-left: 10px solid #000;
}

blockquote p {
	color: #777;
}


/* -- Entry content style -- */
.entry p a {
  text-decoration-color: #3CFFD0;
  color: #000000;
}

.entry p a:hover {
	color: #444 !important; 
}


/* -- Responsive Images -- */
.wp-caption-text {
	color: #888;
}

.entry .wp-caption-text a {
	color: #000 !important;
}

.wp-caption-text a:hover {
	color: #000 !important;
}


/* -- Pagination entry articles -- */
.my-paginated-posts span {
	background-color: #5200FF;
	color: #FFF !important;
}

.my-paginated-posts p a {
	background-color: #222;
	color: #fff !important;
}

.my-paginated-posts p a:hover {
	color: #fff !important;
}

.my-paginated-posts p span a {
	color: #FFF !important;
}


/* -- About Author -- */
.author-info a.author-link {
	text-decoration-color: #ddd;
	color: #4a4a4a;
}

.author-meta strong i {
	color: #5200FF; 
}

div.author-info i.fa-link {
	color: #5200FF;
}


/* -- Top social icons -- */
ul.author-social-top li a i {
	color: #3f677a;
}

ul.author-social-top li a i.fa-facebook-f {
	color: #3b5998;
}

ul.author-social-top li a i.fa-twitter {
	color: #00aced;
}

ul.author-social-top li a i.fa-pinterest {
	color: #ca212a;
}

ul.author-social-top li a i.fa-instagram {
	color: #D62976;
}

ul.author-social-top li a i.fa-vk {
	color: #5181B8;
}

ul.author-social-top li a i.fa-youtube {
	color: #FF0000;
}

ul.author-social-top li a i.fa-vimeo-v {
	color: #19B7EA;
}


/* -- Related Articles -- */
h3.related-widget-title    { 
	background-color: #000; 
	color: #FFF;
} 


/* -- Related articles single -- */
.prev-entry span,
.prev-entry2 span {
	background-color: #3CFFD0;
	color: #000;
}


/* -- Default Blocks -- */
/* -- Block Buttons -- */
.wp-block-button__link {
    color: #FFF !important;
    background-color: #5200FF;
}

.wp-block-file .wp-block-file__button {
    background: #5200FF;
    color: #FFF !important;
} 

/* -- Block Widgets-- */
ul.wp-block-archives-list li {
	color: #5200FF;
}

.wp-block-search .wp-block-search__button {
    background: #5200FF;
    border: 1px solid #5200FF;
    color: #FFF;
}


/*-----------------------------------------------------------------------------
----------------------------- 5 - Sidebar & Widgets ---------------------------
-----------------------------------------------------------------------------*/

/* -- Sidebar -- */
.widget-title        { 
	background-color: #000; 
	color: #FFF;
}

.widget-title h3     { 
	color: #FFF;
}

.widget-title h3 a   { 
	color: #FFF !important;
}

.sidebar .widget {
	background-color: #FFF; 
}


/* -- Sidebar -- */
.sidebar-sticky h3.title {
	background-color: #000;
	color: #f8eece;
}

.sidebar-sticky .widget {
	background-color: #FFF; 
}


/* -- Article widget -- */
.article_list li {
	border-bottom: 1px solid rgba(241, 241, 241, .8);
}

ul.article_list .an-widget-title a h4 {
	color: #111;
}

ul.article_list .an-widget-title span i {
	color: #5200FF;
}

ul.article_list li div.time-ago i {
  color: #5200FF;
}

ul.article_list .an-widget-title span {
	background-color: #3CFFD0;
	color: #000;
}


/* -- Subscribe widget -- */
.subscribe-widget input[type=submit] {
	background: #000 !important;
	color: #fff !important;
}


/* -- Categories in two columns -- */
.widget_categories ul li {
	color: #999;
}


/* -- Default Tags -- */
div.tagcloud a {
	background: #F4F4F4 !important;
	color: #999 !important;
}

div.tagcloud a:hover {
	background-color: #000 !important;
	color: #fff !important;
}

div.tagcloud a:hover span {
	color: #999 !important;
}

div.tagcloud span {
	color: #000 !important;
}


/* -- Default Search -- */
div.widget_search #searchform2 #s { 
	color: #000 !important;
} 

div.widget_search #searchform input {
	background-color: #f5f5f5 !important;
}	 


/* -- Archives in two columns -- */
.widget_nav_menu li {
	border-bottom: 1px solid rgba(241, 241, 241, .8);
	color: #5200FF;
}

.widget_archive li {
	border-bottom: 1px solid rgba(241, 241, 241, .8);
	color: #999;
}

.widget_archive li:before {
	color: #5200FF;
}


/* -- Categories -- */
.widget_categories li:before {
	color: #5200FF;
}


/* -- Meta in two columns -- */
.widget_pages li,
.widget_meta li {
	border-bottom: 1px solid rgba(241, 241, 241, .8);
	color: #5200FF;
}


/* -- Calendar -- */
#wp-calendar tbody td#today {
	background-color: #000;
	color: #FFF;
}

#wp-calendar tbody td#today a {
	color: #FFF !important;
}


/* -- Recent Comments -- */
.widget_recent_comments li {
	color: #5200FF;
}


/*-----------------------------------------------------------------------------
----------------------------- 6 - Comments Form -------------------------------
-----------------------------------------------------------------------------*/

/* -- Comments lists -- */
ul.comment li {
	background-color: #fafafa;
	border-bottom: 1px solid #f1f1f1;
}

ul.comment li ul.children li {
	background-color: #FFF;
	border-bottom: none;
}

ul.comment li ul.children li>ul.children li {
	background-color: #FFF;
	border-bottom: none;
	border-top: 20px solid #fafafa;
}

ul.comment li span.comment-reply-button {
	background-color: #f1f1f1;
}

ul.comment li span.comment-reply-button a {
	color: #000 !important;
}


/* -- Comments -- */
.article-btn {
	background-color: #13131c;
	color: #FFF;
}

.article-btn h3 {
	color: #FFF;
}

.comments h3.comment-reply-title {
	background-color: #13131c;
	color: #FFF;
}

.comments h3.comment-reply-title a {
	color: #FFF;
}

.comments h3.comment-reply-title a#cancel-comment-reply-link {
	color: #5200FF;
}


/* -- comment Form -- */
#commentform {
	background-color: #f5f5f5;
}

#commentform #submit {
	background-color: #13131c;
	border-color: #13131c;
	color: #FFF;
}

#commentform #submit:hover {
	opacity: 0.9;
}

#commentform label span {
	color: #F00;
}

#commentform span {
	color: #F00;
}


/*-----------------------------------------------------------------------------
----------------------------- 7 - Contact Form --------------------------------
-----------------------------------------------------------------------------*/

/* -- Contact Form 7 Plugin -- */
form.wpcf7-form input {
	border: 2px solid #d5d6d8;
	color: #333;
}

form.wpcf7-form textarea {
	border: 2px solid #d5d6d8;
	color: #333;
}

form.wpcf7-form input.wpcf7-submit {
	background-color: #13131c;
	border-color: #13131c;
	color: #FFF;
}

form.wpcf7-form .wpcf7-validation-errors {
	color: red;
}

form.wpcf7-form {
	background-color: #fafafa;
	border-bottom: 1px solid #f1f1f1;
}


/*-----------------------------------------------------------------------------
----------------------------- 8 - Custom Pages --------------------------------
-----------------------------------------------------------------------------*/

/* -- Tag & Category Index -- */
#mcTagMap .tagindex h4,
#sc_mcTagMap .tagindex h4 {
	color: #333; 
	border-bottom: 4px solid #333 !important;
}

#mcTagMap .tagindex ul li,
#sc_mcTagMap .tagindex ul li {
	border-bottom: 1px solid #f5f5f5;
}

#mcTagMap #mcTagMapNav { 
	background: #5200FF !important;
}


/* -- 404 page -- */
#anthemes-404 h1 {
	color: #000;
}

#anthemes-404 {
	background-color: #FFF;
}

a.button404 {
	color: #FFF !important;
	background-color: #5200FF; 
}


/*-----------------------------------------------------------------------------
------------------------------ 9 - Footer -------------------------------------
-----------------------------------------------------------------------------*/

/* -- Footer -- */
footer {
	background-color: #111111;
}

.social-section {
	background-color: #5200FF;
}

.social-section {
	border-color: #3904AB;
}

/* -- Footer Shop boxes -- */
ul.footer-shop-boxes li:hover h4 {
	color: #3456B5;
}


/* -- Footer Social Icons -- */
ul.footer-social li a {
	color: #FFF;
}

ul.footer-social li a:hover {
	color: #3CFFD0;
}


/* -- Copyright -- */
.footer-copyright p a {
	color: #3CFFD0;
}

.footer-copyright p a:hover {
	color: #fff;
	text-decoration: underline;
}


/* -- Back to Top -- */
#back-top span {
	background-color: #000 !important;
} 

#back-top span:hover { 
	background-color: #5200FF !important;
}